# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# Virtual Environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Migrations cache (optional)
**/__pycache__/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
dist/
build/